<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="stylesheet" href="home.scss">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <title>What is that????</title>
  </head>
  <body>
    Что это за страница???
    <% end %>
  
  </body>
</html>