
<% if @rooms.present? %>
  <nav class="nav flex-column">
    <% @rooms.each do |room| %>
    <% if room.creator_id == current_user.id %>
      <%= link_to room.recipient_name, room_path(room), class: 'nav-link room-nav-link' %>
    <% else %>
      <%= link_to room.creator_name, room_path(room), class: 'nav-link room-nav-link' %>
    <%end%>
      
    <% end %>
  </nav>
<% else %>
  <div class="text-muted">
    The are no rooms
  </div>
<% end %>