<head>
</head>
<body>
  <div class="rooms">
    <h3><%= t('common.your_chats')%></h3>
    <div class="row">
      <div class="col-12 col-md-3">
        <%= render partial: 'rooms' %>
      </div>
    </div>
  </div>
</body>
