<head>
    <link rel="stylesheet" href="posts.css">
    <title>Edit announcement</title>
</head>
<div class="main-body">
    <div class="form-group">
        <h3> Edit ad</h3>
        <%= render 'form' %>
    </div>
</div>