<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="posts.css">
        <title>New announcement</title>
    </head>
    <div class="main-body">
        <div class="form-group">
            <% if user_signed_in? %>
                <h3><%= t('posts.new.title') %></h3>
                <%= render 'form' %>
            <% else %>
            <!--Гениальное решение, но нужно что-то другое-->
            <h2>Sign in pls</h2>
            <% end %>
        </div>
    </div>
</html>