<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="posts.css">
    </head>
    <body>
        <% if user_signed_in? %>
        <div class="form-group">
            <%= render 'form' %>
        </div>
        <% else %>
        войди блэт сначала 
        <% end %>
    </body>
</html>